*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: aqua;
    padding: 30px;
}

main{
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#primary{
    background-color: blue;
    height: 300px;
    width: 45%;
}

#secondary{
    background-color: brown;
    height: 300px;
    width: 33%;
}