*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 0 30px;
    height: 55px;
}
.yt-logo{
    width: 120px;
}

.yt-search{
    position: relative;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    /* border: 1px solid #d3d3d3; */
    /* border-right: none; */
    border-radius: 2px 0 0 2px;
    padding: 2px 6px;
    margin-left: 34px;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.ico{
    width: 40px;
}

.yt-search input{
    width: 100%;
    padding: 10px;
    margin: 0;
    border: 1px solid #d3d3d3;
    border-radius: 1px;
    box-shadow: inset 0 1px 2px #f8f8f8;
    color: #f8f8f8;
}

.yt-search input:focus {
    border: 1px solid #f8f8f8;
  }

.yt-search button{
    padding: 10px 20px;
    margin: 0;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}

.yt-search-form{
    width: 700px;
    height: 40px;
    position: relative;
    flex: 1;
    flex-basis: 1e-9px;
    display: flex;
    flex-direction: row;
}

.mic-icon{
    background-color: #f8f8f8;
    width: 40px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    /* height: 10px; */
}

.menu-item{
    display: flex;
    align-items: center;
    gap: 15px;
}

::placeholder{
    font-size: 17px;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#primary{
    width: 65%;
}

.yt-title{
    line-height: 2.6rem;
    font-weight: 400;
    max-height: 5.2rem;
    overflow: hidden;
}

.yt-video-icons{
    display: flex;
    justify-content: space-between;
}
.yt-video-icons p{
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 400;
}

.yt-vd-icons{
    padding: 10px;
}

#secondary{
    background-color: brown;
    height: 300px;
    width: 30%;
}
